@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.2rem;
  margin-top: 1%;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}

.button {
  display: inline-block;
  padding: 2% 5%;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 15px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 5%;
  transition: 0.2s ease;
  transition-property: background-color, color;
}

.button:hover {
  color: white;
  background-color: crimson;
}

.logo h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.logo h1 span {
  color: crimson;
}

/* Header Navbar Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.2s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 6rem;
  letter-spacing: 2rem;
  z-index: -1;
  transition: 0.4s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  border-bottom: 2px solid crimson;
}

#header .hamburger {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid red;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* End of Header NavbarSection */

/* Home Section */
#home {
  background-image: url(./images/code1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

#home .home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10%;
  justify-content: flex-start;
}

#home h1 {
  display: block;
  width: fit-content;
  font-size: 3.8rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#home h2 {
  position: relative;
  color: whitesmoke;
  display: block;
  width: fit-content;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 5s;
  font-size: 3rem;
  margin-bottom: 5rem;
}

#home .button {
  font-size: 1.5rem;
}

#home h1:nth-child(1) {
  animation-delay: 1s;
}

#home h1:nth-child(2) {
  animation-delay: 2s;
}

#home h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

#home h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}

#home h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#home h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#home h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* End of Home Section */

/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15% 12%;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 5%;
}

#about .col-right p {
  margin-bottom: 5%;
}

#about .col-right .button {
  color: black;
  margin-bottom: 7%;
  padding: 2% 5%;
  font-size: 1.3rem;
}

#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 3px solid crimson;
  border-radius: 5px;
  z-index: -1;
}

#about .col-left .about-img img {
  border-radius: 10px;
}

/* End of About Section */

/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5%;
}

#projects .projects-header h1 {
  margin-bottom: 5%;
}

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 5% auto;
  overflow: hidden;
  border-radius: 2.5%;
}

#projects .project-info {
  padding: 10%;
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 3rem;
  font-weight: 500;
}

#projects .project-info h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
}

#projects .project-info p {
  font-size: 1.6rem;
  color: white;
}

#projects .project-info a {
  font-size: 1.5rem;
  padding: 3%;
}

#projects .project-info .button {
  text-align: center;
  font-size: 1.3rem;
  padding: 2% 5%;
  border-radius: 10px;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.3;
}

#projects .project-img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
  transform: scale(1.1);
  opacity: 0.9;
}

/* End of Projects section */

/* Contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 400px;
}

#contact .contact-item {
  width: 85%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 15%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  color: crimson;
  font-size: 2rem;
  font-weight: 500;
}

#contact .contact-info h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}
/*End of Contact Section */

/* Footer Section */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 7%;
  padding-bottom: 1%;
}
#footer h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 1% auto;
}

#footer .social-icon {
  display: flex;
}

#footer .social-item {
  height: 55%;
  width: 50%;
  margin: 2%;
}
/* End of Footer */

/* Keyframes */
@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
/* End of Keyframes */

/****************************************************************       TABLET VIEW       *******************************************************************************/

/* MEDIA QUERY */
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 5rem;
  }

  .button {
    padding: 2% 8%;
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  .logo h1 {
    font-size: 4rem;
  }

  /* Header Navbar Section */
  #header .nav-list ul a {
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
    padding: 30px;
  }

  #header .nav-list ul a::after {
    font-size: 10rem;
  }

  #header .hamburger {
    height: 60px;
    width: 60px;
  }

  #header .hamburger .bar {
    width: 40px;
  }
  /* End of Header NavbarSection */

  /* Home Section */
  #home h1 {
    font-size: 5.2rem;
  }

  #home .button {
    font-size: 1.8rem;
  }
  /* End of Home Section */

  /* About Section */
  #about .about {
    flex-direction: row;
    padding: 1% 12%;
  }

  #about .col-left {
    width: 85%;
    height: 100%;
    padding-left: 6%;
  }

  #about .col-right {
    text-align: center;
    padding: 3%;
  }

  #about .col-right .button {
    padding: 2% 5%;
    font-size: 1.8rem;
  }

  #about .col-left .about-img::after {
    left: -45px;
    top: 19px;
  }
  /* End of About Section */

  /* Projects Section */
  #projects .projects {
    padding-top: 8%;
    padding-bottom: 8%;
  }

  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 350px;
    margin: 0;
    width: 80%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }

  #projects .project-info h1 {
    font-size: 4rem;
  }

  #projects .project-info h2 {
    font-size: 2rem;
    margin-top: 20px;
  }

  #projects .project-info p {
    font-size: 1.5rem;
  }

  #projects .project-info .button {
    font-size: 1.8rem;
    padding: 1% 8%;
    border-radius: 10px;
  }

  #projects .project-img {
    height: 350px;
  }
  /* End of Projects section */

  /* Contact Section */
  #contact .contact {
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #contact .contact-item {
    width: 100%;
    border-radius: 10px;
    padding: 10%;
    margin: 10%;
    flex-direction: row;
  }

  #contact .icon {
    width: 60px;
  }

  #contact .contact-info h1 {
    color: crimson;
    font-size: 2rem;
  }

  #contact .contact-info h2 {
    font-size: 1.2rem;
  }
  /*End of Contact Section */

  /* Footer Section */
  #footer h1 {
    font-size: 3.5rem;
  }

  #footer h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  /* End of Footer */
}
/* End Media Query For Tablet */

/****************************************************************       DESKTOP VIEW       *******************************************************************************/

/* MEDIA QUERY */
@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 5.8rem;
  }

  .button {
    font-size: 5rem;
  }

  .logo h1 {
    font-size: 5rem;
  }

  /* Header Navbar Section */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End of Header Navbar Section */

  /* Home Section */
  #home h1 {
    font-size: 6rem;
  }

  #home .button {
    font-size: 2.2rem;
  }
  /* End of Home Section */

  /* About Section */
  #about .about {
    padding: 1% 10%;
  }

  #about .col-right .button {
    font-size: 2rem;
  }
  /* End of About Section */

  /* Projects Section */
  #projects .projects {
    padding-top: 6%;
    padding-bottom: 4%;
  }
  #projects .project-item {
    height: 380px;
  }
  /* End of Projects section */

  /* Contact Section */
  #contact .contact-info h1 {
    color: crimson;
    font-size: 2.5rem;
  }
  /*End of Contact Section */

  /* Footer Section */
  #footer h1 {
    font-size: 4rem;
  }

  #footer h2 {
    font-size: 2rem;
  }
  /* End of Footer */
}
/* End  Media Query For Desktop */
